# QUESTION 1
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only

In [20]:
email =input("please enter email ID:")
domain = email.split('@')[1]
print(domain)

please enter email ID:megha@google.com
google.com

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [24]:
list=["without","hello","bag","world"]
list.sort()
print(list)

['bag', 'hello', 'without', 'world']

# Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [25]:
#sets 
a={"apple","mango","banana","orange","cherry","grapes","strawberry"}
print(a)

{'banana', 'cherry', 'strawberry', 'grapes', 'orange', 'apple', 'mango'}

In [26]:
a={"apple","mango","banana","orange","cherry","grapes","strawberry"}
for i in a:
    print(i)

banana
cherry
strawberry
grapes
orange
apple
mango

In [27]:
#present or not
print ("mango" in a)

True

In [28]:
#add items
a={"apple","mango","banana","orange","cherry","grapes","strawberry"}
a.add("guava")
print(a)

{'banana', 'cherry', 'strawberry', 'grapes', 'orange', 'guava', 'apple', 'mango'}

In [29]:
#update
a={"apple","mango","banana","orange","cherry","grapes","strawberry"}
a.update({"a","b","c"})
print(a)

{'banana', 'b', 'cherry', 'a', 'strawberry', 'grapes', 'c', 'orange', 'apple', 'mango'}

In [30]:
#length
print(len(a))

10

In [33]:
#remove items 

a={"apple","mango","banana","orange","cherry","grapes","strawberry"}
print(a)
a.remove("banana")
print(a)

{'banana', 'cherry', 'strawberry', 'grapes', 'orange', 'apple', 'mango'}
{'cherry', 'strawberry', 'grapes', 'orange', 'apple', 'mango'}

In [34]:
#discard

a={"apple","mango","banana","orange","cherry","grapes","strawberry"}
print(a)
a.discard("apple")
print(a)

{'banana', 'cherry', 'strawberry', 'grapes', 'orange', 'apple', 'mango'}
{'banana', 'cherry', 'strawberry', 'grapes', 'orange', 'mango'}

In [35]:
#pop()
a.pop()

'banana'

In [36]:

a={"apple","mango","banana","orange","cherry","grapes","strawberry"}
print(a)
a.clear()
print(a)

{'banana', 'cherry', 'strawberry', 'grapes', 'orange', 'apple', 'mango'}
set()

In [38]:

a={"apple","mango","banana","orange","cherry","grapes","strawberry"}
print(a)
del a

{'banana', 'cherry', 'strawberry', 'grapes', 'orange', 'apple', 'mango'}

In [39]:
print(a)

NameError: name 'a' is not defined

In [41]:
#union
s1={1,2,3,4}
s2={"a","b","c"}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 'b', 'a', 'c'}

In [42]:
s4={"@","$"}
print(s3)
print(s4)
s3.update(s4)
print(s3)

{1, 2, 3, 4, 'b', 'a', 'c'}
{'@', '$'}
{1, 2, 3, 4, 'a', 'c', 'b', '@', '$'}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates

In [41]:
def missing(a):
    x=len(a)
    y=sum(a)
    return x - y
    
    
a=[1,2,4,6,3,7,8]
m=missing(a)
print(5)

5

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserve

In [50]:
l= [12, 24, 35, 24 ,88 ,120, 155, 88, 120,155]
l2= dict.fromkeys(l,1)
l3 = dict.fromkeys(l2, 1) 
print(l3)

AttributeError: 'set' object has no attribute 'fromkeys'

In [55]:
l= [12, 24, 35, 24 ,88 ,120, 155, 88, 120,155]
print("list:",l)
dup=set(l)
print("sets:",dup)

list: [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
sets: {35, 12, 155, 24, 88, 120}